.field {
  margin-bottom: 20px;
}

.field__input {
  font: 14px 'Source Sans Pro', sans-serif;
  background: transparent;
  border: 1px solid #393939;
  color: #fff;
  border-radius: 4px;
  padding: 0 20px;
  height: 60px;
  width: 100%;
  transition: border-color .2s;
}

.field__input:hover {
  border-color: #FFB62B;
}

.field__input:focus {
  outline: 0;
  border-color: #fff;
}

.field__label {
  background: #07070b;
  color: #FFB62B;
  font-size: 16px;
  position: relative;
  left: 20px;
  bottom: -7px;
}